body {
	background: white url(http://marco.calit2.uci.edu/assets/telios.calit2.uci.edu/images/bgbottom.jpg) repeat-x fixed center bottom
}

/* Time & Date */
#menu {
	position: absolute;
	width: 250px;
	height: 100%;
	top: 0px;
	left: 0px;
	-moz-border-radius: 0 0 20px 0px;
	-webkit-border-radius: 0 0 20px 0px;
}

.menu_button {
	width: 250px;
	height: 50px;
	font-family: sans-serif;
	color: white;
	font-size: 32px;
	line-height: 50px;
	text-align: center;
	
	background-color: #808080;
	margin-top: 10px;
	
	-moz-border-radius: 0 5px 25px 0px;
	-webkit-border-radius: 0 5px 25px 0px;
}

#calendar_button:hover {
	width: 260px;
	background-color: #56c1e8;
}

#twitter_button:hover {
	width: 260px;
	background-color: #56c1e8;
}

#stopwatch_button:hover {
	width: 260px;
	background-color: #56c1e8;
}

#logo {
	position: absolute;
	top: 90%;
	width: 100%;
	height: 10%;
}

#date {
	background-color: orange;
	width: 100%;
	height: 200px;
	text-align: center;
	-moz-border-radius: 0 0 0 0;
	-webkit-border-radius: 0 0 0 0;
}

#month {
	width: 100%;
	height: 20%;
	font-family: sans-serif;
	color: white;
	font-size: 36px;
	padding-bottom: 5px;
	padding-top: 15px;
}

#day {
	width: 100%;
	height: 80%;
	font-family: sans-serif;
	color: white;
	font-size: 140px;
}

#clock {
	border-top: 3px solid #ff6600;
	background-color: red;
	width: 100%;
	height: 65px;
	text-align: center;
	-moz-border-radius: 0 0 25px 0px;
	-webkit-border-radius: 0 0 25px 0px;
}

#clocktext {
	width: 100%;
	height: 100%;
	font-family: sans-serif;
	color: white;
	line-height: 65px;
	font-size: 48px;
}

/* Content */
#content {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 250px;
}

/* Google Calendar */
#calendar {
	width: 100%;
	height: 100%;
	background: white;
}

/* Twitter */
#twitter {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#tweets {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.tweet_type_0 {
	background-color: gray;
	color: white;
	font-family: verdana, sans-serif;
	margin: 10px;
	padding: 15px;
	
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

.tweet_type_1 {
	background-color: #303030;
	color: white;
	font-family: verdana, sans-serif;
	margin: 10px;
	padding: 10px;
	
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}