body {
	background: white url(http://marco.calit2.uci.edu/assets/telios.calit2.uci.edu/images/bgbottom.jpg) repeat-x fixed center bottom
}

/* Time & Date */
#time {
	position: absolute;
	width: 100%;
	height: 60px;
	top: 0px;
	left: 0px;
}

#date {
	float: left;
	background-color: orange;
	width: 50%;
	height: 100%;
	text-align: left;
}

#clock {
	float: left;
	background-color: red;
	width: 50%;
	height: 100%;
	text-align: right;
}

#clocktext {
	width: 100%;
	height: 100%;
	font-family: sans-serif;
	color: white;
	line-height: 60px;
	font-size: 48px;
}

#datetext {
	width: 100%;
	height: 100%;
	font-family: sans-serif;
	color: white;
	line-height: 60px;
	font-size: 48px;
	padding-left: 10px;
}

/* Content */
#content {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 60px;
	left: 5%;
}

/*#nbutton {
	position: relative;
	width: 5%;
	height: 100%;
	top: 0px;
	left: 0px;
}

#bbutton {
	position: relative;
	width: 5%;
	height: 100%;
	top: 0px;
	left: 95%;
}*/

/* Google Calendar */
#calendar {
	width: 100%;
	height: 100%;
	background: white;
}

/* Twitter */
#twitter {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#tweets {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.tweet_type_0 {
	background-color: gray;
	color: white;
	font-family: verdana, sans-serif;
	margin: 10px;
	padding: 15px;
	
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

.tweet_type_1 {
	background-color: #303030;
	color: white;
	font-family: verdana, sans-serif;
	margin: 10px;
	padding: 10px;
	
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}